<h1 class="center-align card-panel blue-text text-darken-2 card-panel teal lighten-2 ">Edit your pet</h1>

<%= render(partial: 'form') %>

<%= link_to 'Your pet', pet_path(@pet), class: 'btn-small #eeeeee grey lighten-3' %>
<%= link_to 'All pets', pets_path, class: 'btn-small #eeeeee grey lighten-3' %>
<%= link_to 'Home', root_path, class: 'btn-small #eeeeee grey lighten-3' %>

