<% if signed_in? %>
  <div class="row">
    <div class="col s12">
      <% @pets.each do |pet| %>
        <%= link_to pet.name, pet_path(pet) %>
      <% end %>
    </div>

    <div class="col s12">
      <div class="col s12 m6 pull-left">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Pellentesque facilisis in felis ut rutrum. In aliquet nisl sit amet magna
          ultricies mattis. Integer semper ex eu magna sollicitudin dignissim.
          Pellentesque lacus orci, feugiat ac nisl in, sagittis consequat elit.
          Etiam porta maximus accumsan. Vestibulum a leo nulla. Lorem ipsum dolor sit amet.
        </p>
      </div>

      <div class="col s12 m6 pull-left">
        <%= image_tag "cutest-dog.jpeg", class: 'responsive-img' %>
      </div>
    </div>
<% end %>
