@import 'materialize';

nav {
  background-color: white;
}
nav .brand-logo,
nav ul a {
  color: #000;
}
.thin-row {
  height: 300px;
}
.bg-img {
  background-image: url('cat4.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.clear-opacity {
    background: rgba(255, 255, 255, 0.65);
}
