<footer class="page-footer">
    <div class="row">
      <div class="container">
      <div class="col l6 s12">
        <h5>company</h5>
        <p>Creating an outlet for selfishness of love. Cuddle, play,
          or just hangout with an animal for a couple hours, then give them back to the owner.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Company with friends
    <a class="right" href="#!">company@animalcompany.com</a>
    </div>
  </div>
</footer>
